<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div class="composition" th:fragment="composition">
  <h1 th:text="${report.section2Title}"></h1>
  <small th:text="${report.section2Text}"></small>
  
  <h1 th:text="${report.section3Title}"></h1>
  <small th:text="${report.section3Text}"></small>

  <h1 th:text="${report.section4Title}"></h1>
  <small th:text="${report.section4Text}"></small>
  
  <h1 th:text="${report.section5Title}"></h1>
  <small th:text="${report.section5Text}"></small>
  
  <h1 th:text="${report.section6Title}"></h1>
  <small th:text="${report.section6Text}"></small>
  
  <h1 th:text="${report.section7Title}"></h1>
  <small th:text="${report.section7Text}"></small>
  
  
  <h1 th:text="${report.section8Title}"></h1>
  <small th:text="${report.section8Text}"></small>
  <!-- An injury or other health problem was described.
  <br/>The individual was described as breathing and conscious.
  <br/>Loss of at least a mugful of blood in the last 30 minutes was not described.
  <br/>An illness or other health problem was described. - Dizziness
  <br/>Fighting for breath was not described.
  <br/>A heart attack, chest/upper back pain, recent probable stroke, recent fit/seizure or suicide attempt was not described as the main call reason.
  <br/>Dizziness and nausea was described.
  <br/>  -->

  <h1 th:text="${report.section9Title}"></h1>
  <small th:text="${report.section9Text}"></small>

  <h1 th:text="${report.appointmentDesc}"></h1>
  <small th:text="${report.appointmentComment}">Appointment Comment</small>
</div>
</body>
</html>