<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div todo th:fragment="footer">
  <div class="footer">
    <table class="header">
      <tr>
        <th class="header">Document ID</th>
        <td class="header">A709A442-3CF4-476E-8377-376500E829C9</td>
        <th class="header">Version</th>
        <td class="header">2</td>
      </tr>
      <tr>
        <th class="header" valign="top">Primary Recipients</th>
        <td class="header">Thames Medical Practice<br/>
        </td>
        <th class="header">Phone</th>
        <td class="header">0123476895</td>
      </tr>
      <tr>
        <th class="header" valign="top"/>
        <td class="header">Medway Kent Out of Hours Clinic<br/>
        </td>
        <th class="header"/>
        <td class="header"/>
      </tr>
    </table>
  </div>
</div>
</body>
</html>