<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div todo th:fragment="participant">
  <div id="participantBanner" class="banner">
    <table>
      <tbody>
      <tr>
        <th class="sectitle">Other participant(s) in this document</th>
      </tr>
      </tbody>
    </table>
    <table>
      <tr>
        <th class="participant">Referred To</th>
      </tr>
      <tr>
        <th class="header">Referred To Organization</th>
        <td class="titlebar">Medway Community Hospital</td>
      </tr>
    </table>
    <table class="header">
      <tbody>
      <tr>
        <td>
          <p class="label">Visit Address</p>
          <p>Church Street Walk in Centre<br/>4 Church Street<br/>Medway<br/>ME8 7TT</p>
        </td>
        <td>
          <span class="label">Emergency Phone </span>0123456789</td>
      </tr>
      </tbody>
    </table>
    <br/>
    <table>
      <tr>
        <th class="participant">Call back Contact</th>
      </tr>
      <tr>
        <th class="header">Name</th>
        <td class="titlebar">Call Centre Manager - Call Centre</td>
      </tr>
      <tr>
        <th class="header">Organization</th>
        <td class="titlebar">111 CALL CENTRE</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>