<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="permissionToView">
  <h1>Permission to View</h1>
  <table>
    <tbody>
    <tr>
      <th class="default">Permission to view outcome</th>
      <td th:text="${report.consentStatus}"></td>
    </tr>
    <tr>
      <th class="default">Date obtained</th>
      <td th:text="${report.consentObtained}"></td>
    </tr>
    <tr>
      <th class="default">Date expires</th>
      <td th:text="${report.consentExpires}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>