<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="relatedPerson">
  <div id="informantBanner" class="banner">
    <table>
      <tbody>
      <tr>
        <th class="header">Informant</th>
        <td  th:text="${report.informant}"></td>
      </tr>
      </tbody>
    </table>
    <table class="header">
      <tbody>
      <tr>
        <td>
          <p class="label">Primary Home Address</p>
          <p th:text="${report.informantHomeAddress.firstLine}"/>
          <p th:text="${report.informantHomeAddress.secondLine}"/>
          <p th:text="${report.informantHomeAddress.city}"/>
          <p th:text="${report.informantHomeAddress.postcode}"/>
        </td>
        <td>
          <span class="label">Mobile Phone </span><p th:text="${report.contactPoints.mobPhone}"/><br/>
          <span class="label">Home Phone </span><p th:text="${report.contactPoints.homePhone}"/></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>