<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div todo th:fragment="relatedPerson">
  <div id="informantBanner" class="banner">
    <table>
      <tbody>
      <tr>
        <th class="header">Informant</th>
        <td>Helga Bloggs - Spouse</td>
      </tr>
      </tbody>
    </table>
    <table class="header">
      <tbody>
      <tr>
        <td>
          <p class="label">Primary Home Address</p>
          <p>43 Summers Avenue<br/>Somerset Street<br/>Medway<br/>ME5 7TY</p>
        </td>
        <td>
          <span class="label">Mobile Phone </span>07886554123<br/>
          <span class="label">Home Phone </span>01783678321</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>