<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="titlebar">

  <div class="titlebar">
    <table class="titlebar">
      <tr todo>
        <th class="titlebar">Encounter Type</th>
        <td class="titlebar">NHS111 Encounter</td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Time</th>
        <td class="titlebar" th:text="${report.encounterPeriod}"></td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Identifier</th>
        <td class="titlebar" th:text="${report.encounterId}"></td>
      </tr>
      <tr th:each="identifier: ${report.encounterIdentifiers}">
        <th class="titlebar" th:text="${identifier.type.text}"></th>
        <td class="titlebar" th:text="${identifier.value}"></td>
      </tr>
      <tr todo>
        <th class="titlebar">Encounter Disposition</th>
        <td class="titlebar" th:text="${report.encounterStatus}"></td>
      </tr>
      <th:block th:each="location: ${report.encounterLocation}">
        <tr>
          <th class="titlebar">Care Setting Location</th>
          <td class="titlebar" th:text="${location.name}"></td>
        </tr>
        <tr todo>
          <th class="titlebar">Care Setting Address</th>
          <td class="titlebar">
            <p class="label" th:text="${location.address.use.display}+' Address'">Address</p>
            <p>2, Brancaster Road<br/>Medway<br/>ME5 4LS<br/>Follow the high street and turn left by
              Boots<br/>GB<br/>Great Britain<br/>962145269574<br/>+38.265789-85.623415<br/>X575776,Y163180
            </p>
          </td>
        </tr>
        <tr todo>
          <th class="titlebar">Care Setting Type</th>
          <td class="titlebar">Example Care Setting</td>
        </tr>
      </th:block>
      <tr todo>
        <th class="titlebar">Responsible Party</th>
        <td class="titlebar" th:text="${report.responsibleParty}"><br/>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>