<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div todo th:fragment="titlebar">

  <div class="titlebar">
    <table class="titlebar">
      <tr>
        <th class="titlebar">Encounter Type</th>
        <td class="titlebar">NHS111 Encounter</td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Time</th>
        <td class="titlebar">01-Jan-2017, 19:45 to 01-Jan-2017, 20:15</td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Identifier</th>
        <td class="titlebar">LOC665</td>
      </tr>
      <tr>
        <th class="titlebar">Case Reference</th>
        <td class="titlebar">CASEREF1234</td>
      </tr>
      <tr>
        <th class="titlebar">Case ID</th>
        <td class="titlebar">CASEID123</td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Disposition</th>
        <td class="titlebar">Passed onto clinical hub</td>
      </tr>
      <tr>
        <th class="titlebar">Care Setting Location</th>
        <td class="titlebar">Incident Location</td>
      </tr>
      <tr>
        <th class="titlebar">Care Setting Address</th>
        <td class="titlebar">
          <p class="label">Visit Address</p>
          <p>2, Brancaster Road<br/>Medway<br/>ME5 4LS<br/>Follow the high street and turn left by
            Boots<br/>GB<br/>Great Britain<br/>962145269574<br/>+38.265789-85.623415<br/>X575776,Y163180
          </p>
        </td>
      </tr>
      <tr>
        <th class="titlebar">Care Setting Type</th>
        <td class="titlebar">Example Care Setting</td>
      </tr>
      <tr>
        <th class="titlebar">Responsible Party</th>
        <td class="titlebar">Dave Cornwell - Medical Director, Medway South Out of Hours Centre<br/>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>