<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="titlebar">

  <div class="titlebar">
    <table class="titlebar">
      <tr todo>
        <th class="titlebar">Encounter Type</th>
        <td class="titlebar">NHS111 Encounter</td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Time</th>
        <td class="titlebar" th:text="${report.encounterPeriod}"></td>
      </tr>
      <tr>
        <th class="titlebar">Encounter Identifier</th>
        <td class="titlebar" th:text="${report.encounterId}"></td>
      </tr>
      <tr th:each="identifier: ${report.encounterIdentifiers}">
        <th class="titlebar" th:text="${identifier.type.text}"></th>
        <td class="titlebar" th:text="${identifier.value}"></td>
      </tr>
      <tr todo>
        <th class="titlebar">Encounter Disposition</th>
        <td class="titlebar" th:text="${report.encounterStatus}"></td>
      </tr>
      <th:block th:each="location: ${report.encounterLocation}">
        <tr>
          <th class="titlebar">Care Setting Location</th>
          <td class="titlebar" th:text="${location.name}"></td>
        </tr>
        <tr todo>
          <th class="titlebar">Care Setting Address</th>
          <td class="titlebar">
          <!-- <p class="label" th:text="${location.address.use.display}+' Address'">Address</p> -->
            <p class="label">Visit Address</p>
            <p><small th:text="${location.address.line}"/><br/>
            <small th:text="${location.address.city}"/><br/>
            <small th:text="${location.address.postalCode}"/><br/>
            <small th:text="${location.address.text}"/><br/>
            <small th:text="${location.address.country}"/><br/>
            Great Britain<br/>
            962145269574<br/>
            +38.265789-85.623415<br/>
            X575776,Y163180
            </p>
          </td>
        </tr>
        <tr todo>
          <th class="titlebar">Care Setting Type</th>
          <td class="titlebar" th:text="${report.careSettingType}"></td>
        </tr>
      </th:block>
      <tr todo>
        <th class="titlebar">Responsible Party</th>
        <td class="titlebar" th:text="${report.responsibleParty}+'-'+${report.responsiblePartyOrg}"><br/>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>